
html {
  max-width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: #fae4d667;
  max-width: 100%;
  height: 100%;
  overflow: visible;
}



/* Header and Navigation */

#navbar-header-center {
  height: auto;
  margin: 0;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.align-middle {
  width: 70px;
  padding-right: 10px;
}

#navbar-title {
  font-size: 1.5rem;
  color: #4d4d4d;
}


.container-fluid {
  padding: 0px 100px 0px 100px;
}

#navbar-title:hover, #nav a:hover {
  cursor: pointer;
  color: #0062a0;
  transition: 250ms;
}

.nav-item {
  margin: 0 0.8em;
}

#nav a{
  margin-right: 40px;
  text-decoration: none;
}

.text-nowrap {
  white-space: normal !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}


/* Hero caption */
.hero-section {
  background-color: #a018007a;
  width: 100%;
}

.my-container {
  max-width: 1168px;
  padding-bottom: 20px;
}

.my-row {
  width: 100%;
}

.my-col {
  padding-right: 0px;
  padding-left: 30px; 
}

.hero-caption {
  padding-top: 100px;

}


.hero-caption-text {
  display: inline;
  width: 100%;
  font-size: 3rem;
  padding-bottom: 12px;
}
.img-container-hero .img-fluid {
  position: absolute;
  height: 220px;
  margin-top: 41px;
  image-rendering: -webkit-optimize-contrast;
}

@media (max-width: 768px) {
  .img-fluid {
    display: none;
  }
}

/* Breadcrumb */

.breadcrumb {
  margin-top: 15px; 
  padding: 0;
  font-size: 1rem;
}






/* Main */



.main-col .question-header {
  margin-top: 50px;
}

.main-col h1, .main-col p {
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .main-iframe {
    width: 100%;
  }
}












/* Footer */
.footer {
  margin-top: 100px;
}

.footer-container {
  position: center;
  background-color: #757575;
  width: 100%;
  margin: auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-top: 70px;
  padding-bottom: 20px;
  padding-right: 50px;
  font-family: Roboto, Sans-serif;
  max-width: 1168px;
  margin: auto;
}

.footer-content-col {
  flex: 1;
}

.footer-content-col-label {
  letter-spacing: 1px;
  width: 100%;
}

.footer-content-col-label-text {
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

.footer-content-col-label-text:hover {
  color: #0062a0;
  transition: 250ms;
}

.footer-content-col-list {
  padding: 0;
  list-style-type: none;
  width: 200px;
}

.footer-content-col-list-item-a {
  color: white;
  padding-bottom: 1px;
  text-decoration: none;
}

.footer-content-col-list-item-a:hover {
  color: #0062a0;
  transition: 250ms;
  text-decoration: none;
}

.vertical-line {
  border-left: 1px white solid;
  width: 15%;
  margin: 0px;
  padding: 0px;
  height: 180px;
}

@media screen and (max-width: 1100px) {
  .vertical-line {
    display: none;
  }
}


.footer-content-col-label-text {
  text-decoration: none !important;
}

.footer-content-col-label-heading {
  color:white;
  font-weight: bold;
}

.footer-content-col-label-paragraph {
  color: white;
}

.footer-content-bar {
  background-color: #757575;
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
}

.footer-content-social {
  height: auto;
}

.footer-content-social-container {
  box-sizing: border-box;
}

.footer-content-social-container .text-center {
  color: white;
  margin-bottom: 0;
}


.footer-content-social-container .footer-content-icon {
  cursor: pointer;
  margin: 0 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
}

.footer-content-social-container-border {
  height: auto;
  width: auto;
  display: inline;
}

.footer-content-icon:hover {
  background-color: rgba(255, 255, 255, 0.404);
  transition: 150ms;
}

.footer-content-social-container img {
  height: auto;
  width: 55px;
}

.footer-content-bar-legal {
  color: white;
  padding-bottom: 25px;
}
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;

}