.body {
    min-height: 1000px;
  }
  
  .border {
    min-width: 60%;
    margin: auto;
    margin: -10px;
    
  }
  
  /* Header and Navigation */
  
  .header {
    font-family: Roboto, Sans-serif;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .navigation {
    background-color:#e9e9e9;
    padding-left: 50px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: -10px;
    border: 1px lightgrey solid;
    
  }
  #headera {
    color: rgb(45, 55, 133);
  }
  
  #headera:hover, .navigation > a:hover {
    color: #0062a0;
    transition: 250ms;
  }
  
  nav h1 {
    margin: 0 20px;
  }
  
  nav a {
    margin: 0 20px;
    color: black;
    text-decoration: none;
  }
  
  
  .dropdown {
    position: relative;
  }
  
  .dropdown:hover .dropbutton {
    color: #0062a0;
    cursor: pointer;  
    transition: 150ms;
  }
  
  .dropbutton {
    background-color:#e9e9e9;
    display: inline-block;
    border: none;
    font-size: 17px;
    outline: none;
  }
  
  
  /* Default is invisible */
  .dropdown-links { 
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    min-height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    z-index: 1;
  }
  
  .dropdown-links a {
  
    color: black;
    display: block;
    padding: 5px;
  
  }
  
  .dropdown-links a:hover {
    color: #0062a0;
    transition: 250ms;
  
  }
  
  .dropdown:hover .dropdown-links{
    text-align: center;
    display: block;
    padding-top: 20px;
    
  }
  
  .dropdown:hover .arrow-up {
    position: relative;
    right: 3px;
    bottom: 11px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0062a0;
  }
  
  .dropdown:hover > .arrow-down {
    display: none;
  }
  
  .arrow-down {
    position: relative;
    right: 3px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .about-us-button {
    padding-left: 20px;
  }
  
  .about-us-button:hover {
    cursor: pointer;
  }
  
  .contact-us-button:hover {
    cursor: pointer;
  }






  /* Footer */
.footer {
    margin-top: 100px;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .footer-container {
    position: center;
    background-color: #757575;
    width: 100%;
    margin: auto;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: spa;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-family: Roboto, Sans-serif;
  }
  
  .footer-content-col {
    flex: 1 1 7px;
  }
  
  .footer-content-col-label {
    letter-spacing: 1px;
  }
  
  .footer-content-col-label-text {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  
  }
  
  .footer-content-col-label-text:hover {
    color: #0062a0;
    transition: 250ms;
  }
  
  .footer-content-col-list {
    padding: 0;
    list-style-type: none;
  }
  
  .footer-content-col-list-item-a {
    color: white;
    padding-bottom: 1px;
    text-decoration: none;
  }
  
  .footer-content-col-list-item-a:hover {
    color: #0062a0;
    transition: 250ms;
    text-decoration: none;
  }
  
  .vertical-line {
    border-left: 1px white solid;
    margin-right: 100px;
    height: 180px;
  }
  
  .footer-content-col-label-heading {
    color:white;
  }
  
  .footer-content-col-label-paragraph {
    color: white;
  }
  
  .footer-content-bar {
    background-color: #757575;
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
  }
  
  .footer-content-bar-legal {
    color: white;
    margin-bottom: 100px;
  }